@import './globals.scss';

// width tablet
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-left, .parallax-right {
    display: none;
  }
  .navbar-ar-cont {
    position: fixed;
    z-index: 900;
    width: 100%;
    height: $h-nav;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent;
    top: 0; 
    & .navbar-ar {
      height: $h-nav !important;
      transition: 1s ease;
      position: relative;
      background-color: transparent;
      & .logo {
        height: 100%;
        aspect-ratio: 4.51;
      }
      & .logo img {
        margin-top: 0em !important;
        height: 1.5em;
        object-fit: contain;
      }
      & .contact {
        height: 100%;
        padding-top: 0px !important;
        position: absolute !important;
        top: -75% !important;
        right: 0% !important;
        transform: translate(0, 50%);
        transition: 1s ease;
        & a.contact-button {
          display: block;
          margin-top: 0.25em;
          padding: 5px 15px;
          font-weight: $font-extrabold;
          background-color: transparent;
          color: white;
          border-width: 2px;
          border-style: solid;
          border-color: transparent white white white;
          border-radius: 100px;
          position: relative;
          font-size: 0.8em;
          & div {
            position: absolute;
            display: block;
            text-align: center;
            width: 100%;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.6em;
            font-weight: $font-bold;
          }
        }
      }
      &.close .contact {
        right: 0%;
        transform: translate(0, 50%) !important;
        transition: 1s ease;
      }
      &.change-bg {
        transition: 1s ease;
        background-color: $color;
      }
    }
  }

  .top-header {
    background-color: $color;
    & .header-text {
    padding-top: 0 !important;
    padding-bottom: 1em !important;
    }
    & .header-img {
      padding: 0 !important;
      width: 100% !important;
      height: auto;
      // background-color: red;
      & .header-img-container {
        position: relative;
        width: 100% !important;
        padding: 0px !important;
        top: 0;
        max-width: 100% !important;
        aspect-ratio: $aspect-ratio-top-img;
        & img {
          width: 100% !important;
          height: 100% !important;
          object-fit: cover !important;
        }
        & .slider-header-container {
          background-color: #707070;
          height: 100%;
          width: 100%;
          // &:after {
          //   content: "";
          //   position: absolute;
          //   background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
          //   height: 5em;
          //   width: 100%;
          //   left: 0;
          //   top: 0;
          //   transition: 0.2s ease;
          //   z-index: 2;
          // }
          // &.close:after {
          //   background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
          //   transition: 0.2s ease;
          // }
          & .slider-left, .slider-right {
            z-index: 10;
            width: 2em;
            height: 2em;
            background-color: transparent;
            padding: 0;
            border-radius: 100px;
            border-width: 1px;
            border-color: white;
            opacity: 0.2;
            transition: 0.2s ease;
            top: 50%;
            transform: translate(0, -50%);
            &:hover {
              transition: 0.2s ease;
              opacity: 0.8;
            }
          }
          & .slider-left {
            left: 1em;
          }
          & .slider-right {
            right: 1em;
          }
        }
      }
    }
    & button.slider-btns {

      &.active {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        transition: 300ms ease;
        background-color: $color-light;
        border-width: 0;
        padding: 0;
      }
    }

    & .slider-btn {
      width: 100%;
      height: 15px;
      padding: 1em 0;
      bottom: 0;
      left: 0;
      transform: translate(0, 0);
      margin-bottom: 1.5em;
    }
  }
  
  section.content {
    & article.highlight {
      color: $color;
      & h1.title {
        font-size: 1em !important;
        font-weight: $font-bold;
        margin: 0;
      }
      & text.subtitle {
        font-size: 1.8em !important;
        font-weight: $font-extrabold;
      }
    }
  }

  section.projects {
    & h1.title {
      color: $color;
      font-size: 2em;
      font-weight: $font-extrabold;
      margin: 0;
    }
    & article.project {
      margin-top: 2em;
      position: relative;
      & article.project-wrapper {
        overflow: hidden;
        width: 100%;
        aspect-ratio: 1;
        position: relative;
        & .project-img-container {
          width: 100%;
          height: 100%;
          position: relative;
          & img.img-main {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;;
            z-index: 1;
            object-fit: cover;
          }
          & img.img-behind {
            display: none;
          }
        }
        & .project-desc-wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 70%;
          background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)); 
          padding: 1em 1em;
          z-index: 2;
          text-align: left;
          transition: 0.2s ease;
          align-items: flex-start;
          & h2.project-title {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: $font-bold;
            color: white;
            margin-bottom: 0.75em;
          }
          & p.project-desc, & a.project-btn {
            display: none;
          }
          &:hover {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)); 
            transition: 0.2s ease;
            top: 0%;
            & p.project-desc {
              margin-bottom: 1em ;
              overflow: hidden;
              position: relative;
              height: calc(1.2em * 5); /* exactly three lines */
              line-height: 1.2em;
              color: white;
              font-weight: $font-medium;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;  
            }
            & a.project-btn {
              display: inline-block;
              text-decoration: none;
              width: 53.5%;
              height: auto;
              padding: 0.5em;
              text-align: center;
              color: black;
              background-color: white;
              transition: 0.2s ease;
              border-radius: 5px;
              &:hover {
                transition: 0.2s ease;
                text-decoration: underline;
              }
            }
          }
        }
      } 
    }
  
  }
  div.navbar-ar button.menu-toggle:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: $burger-bar-white;
    transition: opacity 0.2s ease-out,
                width 0.2s 0.2s ease-out;
  }

  button.menu-toggle {
    right: 30% !important;
  }

  
  button.btn-ar {
    border-width: 0px;
    background-color: $color-light;
    color: white;
    width: 15em;
    height: 3em;
    transition: 300ms ease-in-out;
    &:hover {
      transition: 300ms ease-in-out;
      transform: scale(1.05);
    }
  }

  
  .testimony {
    & .title {
      font-size: 2em;
      font-weight: $font-extrabold;
    }
    & p.subtitle {
      width: 100%;
    }
    & .testi-container {
      padding: 0 !important;
      width: 100% !important;
      aspect-ratio: 1.4 !important;
      & .bg-img-container {
        height: 100%;
        width: 100%;
        &:after {
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 100%;
        }
        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        & .testi-slider-left, & .testi-slider-right {
          width: 2em;
          height: 2em;
          background-color: transparent;
          padding: 0;
          border-radius: 100px;
          border-width: 1px;
          border-color: #6a6a6a;
          color: #6a6a6a;
          transition: 0.2s ease;
          top: 50%;
          outline: none;
          z-index: 3;
          &:hover {
            transition: 0.2s ease;
            background-color: rgba(255, 255, 255, 0.5);
          }
          &:active {
            outline: none;
            background-color: white;
            color: black;
          }
        }
        & .testi-slider-left {
          left: calc(100% / 12) !important;
          transform: translate(-50%, -50%);
        }
        & .testi-slider-right {
          right: calc(100% / 12) !important;
          transform: translate(50%, -50%);
        }
      }
      & article.testi-wrapper {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 100% !important;
        aspect-ratio: 1.8 !important;
        padding: 0;
        margin: 0;
        overflow: hidden;
        opacity: 1;
        & .testi-inside-wrapper {
          position: relative;
          height: 100%;
          & .testi-blur-right, & .testi-blur-left {
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 100;
          }
          & .testi-blur-left {
            left: 0 !important;
            transform: translate(0, 0) !important;
            background-color: transparent;
            backdrop-filter: blur(2px);
          }
          & .testi-blur-right {
            right: 0 !important;
            backdrop-filter: blur(2px) ;
            background-color: transparent;
            transform: translate(0, 0) !important;
          }
          & .testi-individual {
            width: calc(100%/1.5) !important;
            height: 100%;
            padding: 0 5px;
          }
        }
      }
    }
  }
  
  .form-contact {
    padding: 50px 0;
    & section {
      & h1.title {
        font-size: 2em;
        font-weight: $font-extrabold;
      }
    }
  }
}