@import './globals.scss';

// width lg
@media (min-width: 992px) and (max-width: 1199px) {
  .parallax-left, .parallax-right {
    position: absolute;
    top: 0;
    max-width: 80px;
    width: 15%;
    height: 80%;
    z-index: 800;
  }
  .parallax-left {
    left: 0;
    transition: 0.4s ease-out;
    &.open {
      transform: scale(0.97) translateX(-5px);
      transition: transform 0.3s 0.45s ease-out;
    }
    &.loading {
      transform: translateX(-100px);
      transition: 0.4s ease-out;
    }
    & .parallax-left-relative {
      position: relative;
      width: 100%;
      height: 100%;
      & .left-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        & img {
          position: absolute;
          width: 100%;
          object-fit: contain;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .parallax-right {
    right: 0;
    transition: 0.4s ease-out;
    &.open {
      transform: scale(0.97) translateX(5px);
      transition: transform 0.3s 0.45s ease-out;
    }    
    &.loading {
      transform: scale(1.2) translateX(10px);
      transition: 0.4s ease-out;
    }
    &.loading {
      transform: translateX(100px);
      transition: 0.4s ease-out;
    }
    & .parallax-right-relative {
      position: relative;
      width: 100%;
      height: 100%;
      & .right-wrapper {
        position: absolute;
        right: 0;
        & img {
          position: absolute;
          width: 100%;
          top: 0;
          right: 0;
        }
      }
    }
  }

  .top-header {
    & .header-text {
      & h1.title {
        font-size: 1.8em !important;
        font-weight: $font-extrabold;
      }
      & p.subtitle {
        font-size: 1em !important;
        font-weight: $font-medium;
      }
    }
  }

  section.projects {
    & h1.title {
      color: $color;
      font-size: 2em;
      font-weight: $font-extrabold;
      margin: 0;
    }
    & article.project {
      & article.project-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        &.even {
          flex-direction: row-reverse;
        }
        &.odd {
          flex-direction: row;
        }
        & .project-img-container {
          // width: 60.6%;
          // aspect-ratio: 1.902;
          position: relative;
          & img.img-main {
            position: absolute;
            top: 0;
            // width: 90.14%;
            // aspect-ratio: 2.087;
            z-index: 2;
            object-fit: cover;
            &.img-main-odd {
              right: 0;
            }
            &.img-main-even {
              left: 0;
            }
          }
          & img.img-behind {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;;
            z-index: 1;
            object-fit: cover;
            filter: grayscale(10) brightness(80%);
            opacity: 0.2;
          }
        }
        & .project-desc-wrapper {
          width: 39.4%;
          padding: 2em 1em;
          &.even {
            text-align: right;
            align-items: flex-start;
          }
          &.odd {
            text-align: left;
            align-items: flex-start;
          }
          & h2.project-title {
            text-transform: uppercase;
            font-size: 2em;
            font-weight: $font-extrabold;
            color: $color;
            margin-bottom: 0.75em;
          }
          & p.project-desc {
            overflow: hidden;
            position: relative;
            height: calc(1.2em * 5); /* exactly three lines */
            line-height: 1.2em;
            color: #6a6a6a;
            font-weight: $font-medium;
            &.odd:after {
              content: "";
              text-align: right;
              position: absolute;
              bottom: 0.05em;
              right: 0;
              width: 70%;
              height: 1.15em;
              background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);            
            }
            &.even:after {
              content: "";
              text-align: left;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 70%;
              height: 1.15em;
              background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);            
            }
          }
          & a.project-btn {
            display: inline-block;
            text-decoration: none;
            width: 53.5%;
            height: auto;
            padding: 0.5em;
            text-align: center;
            color: white;
            background-color: $color-light;
            transition: 0.2s ease;
            border-radius: 5px;
            &:hover {
              transform: scale(1.05);
              transition: 0.2s ease;
            }
          }
        }
      } 
    }
  }

  button.menu-toggle {
    right: 50%;
  }

  
  button.btn-ar {
    border-width: 0px;
    background-color: $color-light;
    color: white;
    width: 15em;
    height: 3em;
    transition: 300ms ease-in-out;
    &:hover {
      transition: 300ms ease-in-out;
      transform: scale(1.05);
    }
  }

  .testimony {
    & .testi-container {
      padding: 0 !important;
      // width: 100%;
      // aspect-ratio: 2.2 !important;
      & .bg-img-container {
        position: relative;
        // height: 100%;
        // aspect-ratio: 0.942;
        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: blur(2px);
          opacity: 0.5;
        }
        & .testi-slider-left, & .testi-slider-right {
          width: 2em;
          height: 2em;
          background-color: transparent;
          padding: 0;
          border-radius: 100px;
          border-width: 1px;
          border-color: #6a6a6a;
          color: #6a6a6a;
          transition: 0.2s ease;
          top: 50%;
          outline: none;
          z-index: 3;
          &:hover {
            transition: 0.2s ease;
            background-color: rgba(255, 255, 255, 0.5);
          }
          &:active {
            outline: none;
            background-color: white;
            color: black;
          }
        }
        & .testi-slider-left {
          left: 25%;
          transform: translate(-50%, -50%);
        }
        & .testi-slider-right {
          right: 55%;
          transform: translate(50%, -50%);
        }
      }
      & article.testi-wrapper {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        // width: 83%;
        // aspect-ratio: 2.4 !important;
        padding: 0;
        margin: 0;
        overflow: hidden;
        opacity: 1;
        & .testi-inside-wrapper {
          position: relative;
          height: 100%;
          & .testi-blur-right, & .testi-blur-left {
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 100;
          }
          & .testi-blur-left {
            left: 0;
            transform: translate(-100%, 0);
          }
          & .testi-blur-right {
            right: -1px;
            transform: translate(100%, 0);
            backdrop-filter: blur(2px);
          }
          & .testi-individual {
            // aspect-ratio: 1.2 !important;
            // height: 100%;
            padding: 0 12.5px;
          }
        }
      }
    }
  }

  section.testimony {
    & .title {
      font-size: 2em;
      font-weight: $font-extrabold;
    }
    & p.subtitle {
      width: 60%;
    }
  }
}